{{extend 'layout.html'}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQKODmNsIQYAS_GBc60fOL_4h4B52nX10&sensor=false"></script>
<script src="{{=URL('static', 'js/daynightoverlay.min.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    var markers = {};
    var kml_maps = {};
    var map;
    var init = false;

    function loadMap(mapid, filename) {
        var layer = new google.maps.KmlLayer({
            url: "{{=URL('default', 'download/', host=True) }}" + filename,
            preserveViewport: true
        });
        layer.setMap(map);
        kml_maps[mapid] = layer;
    }
    window.loadMap = loadMap;
    window.kml_maps = kml_maps;

    function delMap(mapid) {
        kml_maps[mapid].setMap(null);
        delete kml_maps[mapid];
    }
    window.delMap = delMap;

    var gmap_style = [
        {
            "featureType": "water",
            "stylers": [
                {
                    "color": "#10AEFF"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "landscape",
            "stylers": [
                {
                    "color": "#f2f2f2"
                }
            ]
        },
        {
            "featureType": "road",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 50
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#444444"
                }
            ]
        }
    ]

    function initialize() {
        google.maps.visualRefresh = true;
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(61.23707764069827, 19.926551818847656),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_RIGHT
            },
            panControl: false,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
                position: google.maps.ControlPosition.LEFT_CENTER
            },
            scaleControl: true,
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            styles: gmap_style
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        new DayNightOverlay({
            map: map
        });

        loadTeams(map, true);
        loadMap("global_camps", "{{=URL('static', 'camps.kml', host=True, scheme=True)}}");
        loadMap("global_camps", "{{=URL('static', 'tosee.kml', host=True, scheme=True)}}");
        setInterval(function() {loadTeams(map, false);}, {{=timer_timeout}});
    }

    function createButtons() {
        var t = $("#tags");
        for (i in markers) {
            var b = $('<button/>',
            {
                text: markers[i]["team"],
            })
            .addClass("label")
            .click(function(i) {
                return function() {
                    var pos = markers[i]["marker"].getPosition();
                    map.panTo(pos);
                    jump(i);
                }
            }(i))
            .css('background-color', markers[i]["color"]);
            t.append(b);
        }
    }

    function loadTeams(map, center) {
        $.ajax({
            dataType: "json",
            url: "{{=URL('default', 'getTeamsLastPos', extension='json')}}"
        }).done(function(data) {
            var bounds = new google.maps.LatLngBounds();
            $.each(data, function(index, item){
                var timestamp = item['lastPos']['f_timestamp'];
                var id = item['id'];
                var color = item['color'];
                var type = item['type'];
                var state = item['state'];
                if (color==null) color = '#000000';
                var pos = new google.maps.LatLng(
                        item['lastPos']['f_latitude'],
                        item['lastPos']['f_longitude']);
                var icon = {
                    url: "{{=URL('static', 'icons/')}}" + color + "/" + type + ".png",
                        anchor: new google.maps.Point(16, 36)
                    };
                var m = new google.maps.Marker({
                    position: pos,
                    icon: icon,
                    title: item['team'] + "\n" + "{{=T('Last update')}}" + ": " + item['modified_on'] + " PL",
                    labelAnchor: new google.maps.Point(22, 0)
                });
                var m_state = null;
                var icon_state = null;
                if (state == 'failure') {
                    icon_state = {
                        url: "{{=URL('static', 'icons/problem.png')}}",
                        anchor: new google.maps.Point(8, 50)
                    };
                }
                if (state == 'active') {
                    icon_state = {
                        url: "{{=URL('static', 'icons/go.png')}}",
                        anchor: new google.maps.Point(8, 8)
                    };
                }
                if (state != 'idle') {
                    m_state = new google.maps.Marker({
                        position: pos,
                        icon: icon_state
                    });
                }
                if (markers[id]) {
                    if (markers[id]['state'] != state || markers[id]['timestamp'] != timestamp) {
                        if (markers[id]['marker_state'])
                            markers[id]['marker_state'].setMap(null);
                        markers[id]['marker_state'] = m_state;
                        markers[id]['state'] = state;
                        if (markers[id]['marker_state'])
                            markers[id]['marker_state'].setMap(map);
                    }
                    if (markers[id]['timestamp'] != timestamp) {
                        markers[id]['marker'].setMap(null);
                        markers[id]['timestamp'] = timestamp;
                        markers[id]['marker'] = m;
                        markers[id]['marker'].setMap(map);
                    }
                }
                else {
                    markers[id] = {'timestamp':timestamp, 'marker':m, 'marker_state': m_state, 'state':state};
                    markers[id]['marker'].setMap(map);
                    if (markers[id]['marker_state'])
                        markers[id]['marker_state'].setMap(map);
                }
                google.maps.event.addListener(m, 'click', function() {
                    $( "#modal" ).modal('show');
                    var loader = "{{=T('Loading...')}}";
                    $( ".content1" ).html(loader);
                    $( ".content2" ).html(loader);
                    $.ajax({
                        data: {id: id },
                        url: "{{=URL('getTeamInfo', extension='load')}}",
                        success: function(data) {
                            $( ".content1" ).html(data);
                        }
                    });
                    $.ajax({
                        data: {id: id },
                        url: "{{=URL('getTeamMaps', extension='json')}}",
                        success: function(data) {
                            var table = "<table class='table table-condensed'><tbody>";
                            for (i in data.content) {
                                var loaded = '';
                                if (data.content[i].id in kml_maps) loaded = 'btn-info';
                                table += "<tr>";
                                table += "<td>" + data.content[i].f_date + "</td>"
                                table += "<td>{{=T('Samples Nb: ')}}" + data.content[i].f_samples_nb + "</td>";
                                table += "<td><a class='btn mapToggle " + loaded + "' data-mapid=" + data.content[i].id + " data-filename='" + data.content[i].f_kml + "'>{{=T('Show/Hide')}}</a></td>";
                                table += "<td><a class='btn' href='{{=URL('default', 'download/')}}" + data.content[i].f_kmz + "'>{{=T('Download *.kmz')}}</a></td>";
                                table += "</tr>";
                            }
                            table += "</tbody></table>";
                            $( ".content2" ).html(table);
                        }
                    });
                    $.ajax({
                        data: {id: id },
                        url: "{{=URL('getDownloader', extension='load')}}",
                        success: function(data) {
                            $( ".content3" ).html(data);
                        }
                    });
                });
                bounds.extend(pos);
            });
            if (center && Object.keys(markers).length>1) map.fitBounds(bounds);
            if (!init) {
                init = true;
                createButtons();
                setTimeout(function() {
                    renderPage();
                }, 100);
                var url = location.href;
                var hash = url.substring(url.indexOf("#")+1);
                jump(hash, 14);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    function jump(h, zoom){
        if (h == parseInt(h)) {
            // location.href = "#"+h;
            var pos = markers[h]["marker"].getPosition();
            if (zoom) map.setZoom(zoom);
            map.panTo(pos);
        }
    }

    var timer = 0;
    $('#searchbar').bind('keyup', function(e){
        if (timer) {
            clearTimeout(timer);
        }
        var chars = $('#searchbar').val().length;
        if (chars > 2 || chars == 0) {
            timer = setTimeout(renderPage, 200);
        }
    });

    var renderPage = function() {
        $.ajax({
            type: 'POST',
            url: "{{=URL('getTeams', extension='load')}}",
            data: {
                words: $('#searchbar').val() || "",
            },
            timeout: 5000,
            success: function(data) {
                $('#searchbar').nextAll().remove();
                $('#searchbar').after(data);
                $('#mp-menu li a.team').click(function() {
                    var pos = markers[$(this).attr('id')]["marker"].getPosition();
                    window.menu._resetMenu();
                    jump($(this).attr('id'), 14);
                });
            }
        });
    };

    $('body').on('click', '.mapToggle', function() {
        var ctrl = $(this);
        var mapid = ctrl.attr('data-mapid');
        var href = ctrl.attr('data-filename');
        if (mapid in kml_maps) {
            delMap(mapid);
        } else {
            loadMap(mapid, href);
        }
        $(this).toggleClass('btn-info');
    });
});
</script>
<div id="map-canvas"></div>
<!-- <div id="tags" style="padding: 2px 2px 0px 0px;"></div> -->
