{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
    	<div class="span12">
    		<h1>{{=T('Big thanks to the following people and teams')}}</h1>
			<ul>
				<li>Michał Piotr Skalski</li>
				<li>Wojciech Kokot - Limbowa</li>
				<li>Stolarz Konrad - LaRum</li>
				<li>Prasek Kamil - Ony mi nie stanął Team</li>
				<li>Piotr Jerzy Żuk</li>
				<li>Filip Janaszek - Szczaw Team</li>
				<li>Kamil Wojciechowski - Wojka Polskie</li>
				<li>Roman Kucharski - Pegazy</li>
				<li>Piotr Biegała - Auxilo</li>
				<li>Krystian Zdzisław Witczak - Skoda Gang</li>
				<li>Aleksander Szwedziński - Soviet Princess</li>
				<li>Tomasz Konrad Dłubek - Maupole</li>
				<li>Giemza Michał</li>
				<li>Andrzej Gajewski PREVENT</li>
				<li>Monika Barbara Wiśniewska - Skorodowani</li>
				<li>Andrzej Gajewski - PREVENT</li>
				<li>Tomasz Grocholski - Zabugole i Pyrrusy</li>
			</ul>
    	</div>
    </div>
</div>