{{extend 'layout.html'}}
<div class="text_holder">
<div class="row">
    <div class="span12">
        <h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
        <div id="web2py_user_form">
        {{if request.args(0)=='register':}}
            <div class="alert" style="color:white;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 style="color:white;">{{=T('Warning!')}}</h4>
                    {{=T('Please do not register if not a member of Złombol team')}}
                </div>
        {{pass}}
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
            pass
        pass
        =form
        }}
        </div>
    </div>
</div>
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>
