{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
    	<div class="span12"></div>
		<div class="span10" id="chart-1-container"></div>
		<div class="span10" id="chart-old-container"></div>
		<div class="span5" id="chart-2-container"></div>
		<div class="span5" id="chart-3-container"></div>
		<div class="span5" id="chart-6-container"></div>
		<div class="span5" id="chart-7-container"></div>
		<div class="span5" id="chart-4-container"></div>
		<div class="span5" id="chart-5-container"></div>
		<div class="span12"><h4>{{=T('Pageviews - world overall & Last 7 days pageviews for Poland')}}</h4></div>
    </div>
</div>
<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>
<script>

gapi.analytics.ready(function() {

  gapi.analytics.auth.authorize({
    'serverAuth': {
      'access_token': '{{=token}}'
    }
  });

  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      'ids': 'ga:90123014', // The Demos & Tools website view.
      'start-date': '20daysAgo',
      'end-date': 'today',
      'metrics': 'ga:sessions,ga:users,ga:pageviews',
      'dimensions': 'ga:date'
    },
    chart: {
      'container': 'chart-1-container',
      'type': 'LINE',
      'options': {
        'width': '100%',
        'series': {
            0: { 'color': '#6f9654' },
            1: { 'color': '#e7711b' },
            2: { 'color': '#f1ca3a' },
            3: { 'color': '#6f9654' }
          },
        'title': '{{=T('Sessions and users in last 90 days')}}'
      }
    }
  });
  dataChart1.execute();

  var dataChart0 = new gapi.analytics.googleCharts.DataChart({
    query: {
      'ids': 'ga:90123014', // The Demos & Tools website view.
      'start-date': '2014-09-07',
      'end-date': '2014-09-27',
      'metrics': 'ga:sessions,ga:users,ga:pageviews',
      'dimensions': 'ga:date'
    },
    chart: {
      'container': 'chart-old-container',
      'type': 'LINE',
      'options': {
        'width': '100%',
        'series': {
            0: { 'color': '#6f9654' },
            1: { 'color': '#e7711b' },
            2: { 'color': '#f1ca3a' },
            3: { 'color': '#6f9654' }
          },
        'title': '{{=T('Złombol 2014 - fever')}}'
      }
    }
  });
  dataChart0.execute();

  var dataChart2 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:browser',
		'metrics': 'ga:pageviews',
		'start-date': '90daysAgo',
		'end-date': 'today',
	},
	chart: {
		'container': 'chart-2-container',
		'type': 'PIE',
		'options': {
			'title': '{{=T('Browsers and pageviews (90 days)')}}',
			'width': '100%',
			'pieHole': 3/9
			}
		}
	});
  dataChart2.execute();

  var dataChart6 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:fullReferrer',
		'metrics': 'ga:pageviews',
		'start-date': '7daysAgo',
		'sort': '-ga:pageviews',
		'end-date': 'today',
		'max-results': 9
	},
	chart: {
		'container': 'chart-6-container',
		'type': 'PIE',
		'options': {
			'title': '{{=T('Reffers and pageviews (7 days)')}}',
			'width': '100%',
			'pieHole': 3/9
			}
		}
	});
  dataChart6.execute();

  var dataChart7 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:mobileDeviceInfo',
		'metrics': 'ga:pageviews',
		'start-date': '30daysAgo',
		'sort': '-ga:pageviews',
		'end-date': 'today'
	},
	chart: {
		'container': 'chart-7-container',
		'type': 'PIE',
		'options': {
			'title': '{{=T('Mobile devices and pageviews (30 days)')}}',
			'width': '100%',
			'pieHole': 3/9
			}
		}
	});
  dataChart7.execute();

  var dataChart3 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:operatingSystem',
		'metrics': 'ga:pageviews',
		'start-date': '30daysAgo',
		'end-date': 'today',
	},
	chart: {
		'container': 'chart-3-container',
		'type': 'PIE',
		'options': {
			'title': '{{=T('Operating systems and pageviews (30 days)')}}',
			'width': '100%',
			'pieHole': 3/9
			}
		}
	});
  dataChart3.execute();

  var dataChart4 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:country',
		'metrics': 'ga:pageviews',
		'start-date': '400daysAgo',
		'end-date': 'today',
	},
	chart: {
		'container': 'chart-4-container',
		'type': 'GEO',
		'options': {
			'width': '100%',
			'height': '450px',
			'displayMode': 'regions',
			'colorAxis': {
				'maxValue': 2000,
				'minValue': 10,
				'colors': ['#efefff', '#ddddff', '#007000', 'orange', 'red']}
			}
		}
	});
  dataChart4.execute();

  var dataChart5 = new gapi.analytics.googleCharts.DataChart({
	query: {
		'ids': 'ga:90123014',
		'dimensions': 'ga:city',
		'metrics': 'ga:pageviews',
		'start-date': '7daysAgo',
		'end-date': 'today',
	},
	chart: {
		'container': 'chart-5-container',
		'type': 'GEO',
		'options': {
			'region': 'PL',
			'width': '100%',
			'height': '250px',
			'displayMode': 'markers',
			'colorAxis': {
				'colors': ['#efefff', '#ddddff', '#007000', 'orange', 'red']}
			}
		}
	});
  dataChart5.execute();

});
</script>
